<%= form_for(job_posting) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, size: '60x6' %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :hiring_manager %>
    <%= f.text_field :hiring_manager %>
  </div>
  <div>
    <%= f.submit "Post Job" %>
  </div>
<% end %>
