
<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>


<h1>Open Jobs</h1>

<table class="tableous">
  <tr>
    <th><%= sortable "title", "Job Name" %></th>
    <th><%= sortable "description", "Job Description" %></th>
    <th><%= sortable "updated_at", "Date Posted" %></th>
    <th>Full Job Posting</th>
  </tr>
  <% @job_postings.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.description %></td>
      <td><%= job.updated_at %></td>
      <td><%= link_to("Show full job posting", job_posting_path(job)) %></td>
    </tr>
  <% end %>
</table>
